html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
  }

.titleDisplay{
    display:none;
}
.burgerMenu{
    @media (max-width:400px){
        background-color:rgb(29, 28, 28);
        opacity:.8;
        height:7vh;
    }
    position:fixed;
    width:100%;
    height:12vh;
    left:0;
    right:0;

    .fas{
      float:right;
      color:black;
      padding-top:1%;
      padding-right:3%;
      font-size:8vh;
      @media (max-width:400px){font-size:5vh;color:white;padding-top:1.7%;}
    }
    .fas:hover{
        cursor: pointer;
    }
}

.sideNav{
    @media (max-width:750px){
        width:0px;
        height:100vh;
        opacity:.99;
        background-color:black;
        transition:none;
    }
    position:fixed;
    width:250px; //value toggling
    top:0; left:0;
    overflow-x:hidden; //makes not horiz. scrollable
    opacity: 0.8;
    top:0; left:0;
    //z-index:1;
    height:100vh;
    background-color:rgb(29, 28, 28);
    transition:1s;
    .closeBtn{
        @media (max-width:750px){
            font-size:4em;
            top:4%;
            right:9%;
        }
        position:absolute;
        top:2%;
        right:5%;
        font-size:2.3em;
        color:white;
    }
    .closeBtn:hover{color:rgb(255, 113, 255);}

    ul{
        @media (max-width:750px){
            padding-left:30%;
            padding-top:0;
            font-size:2em;} 
        @media (max-width:550px){font-size:1.5em; padding-top:10%; padding-left:20%;}
        position:absolute;
        padding-top:25%;
        display:flex;
        flex-direction:column;
        left:-17px;
        .indented{padding-left:24px;}
       //justify-content: center;
       // vertical-align: center;
        list-style: none;
    }
    li{ white-space:nowrap;//makes words stay horizontal on transition
        a{text-decoration:none;
          //color:rgb(218, 185, 218);
          color:rgb(248, 248, 248);
          font-family: 'Merriweather Sans', sans-serif;
          font-size:20px;
          padding-top:15%;
          display:block;
          @media (max-width:750px){
              padding-top:5%;
          }
         // justify-content: center;
        }
        a:hover{color:rgb(255, 113, 255);}
    }
}


img{
    @media (max-width:400px){margin-top:10%;}
    width:33vh;
    display:block;
    padding-top:5%;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:2%;
}

hr{
    width:70%;
}

.name{
    vertical-align:bottom;
    display:block;
    text-align: center;
    font-size:4em;
    @media (max-width:400px){font-size:3em;}
    font-family: 'Merriweather Sans', sans-serif;
    color:rgb(119, 13, 119);
    .capital{font-size:1.2em;}
}

.socialLink{
    width:60%;
    @media (max-width:700px){
        width:85%;
    }
    margin-left:auto;
    margin-right:auto;
  
   
}
.socialLinks{
    display:flex;
    flex-direction:row;

    
}
.email{
    width:100%;
    display:flex;
    flex-direction:column;
    text-align: center;

    a{ color:rgb(128, 6, 128);}
    a:hover{ color:black;}
    .far,.fab{
        text-align: center;
        font-size: 5vw;
        @media (max-width:700px){
            font-size:3em;
        }
    }
}

.school{
    @media (max-width:400px){font-size:1.3em;.firstLetter{font-size:1.3em}}
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top:1%;
    padding-bottom:3%;
    font-size:1.5em;
    .firstLetter{
        font-size:1.3em;
        color:rgb(128, 6, 128);
    }
}
//contains all page content except nav 
#allContent{
    @media (max-width:750px){
        margin-left:0px;
    }
    margin-left:250px;
    transition:1s;
    overflow-x:hidden;
}

#pageAbout,{
    #inDepth{display:none;}
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(233, 229, 229);
    width:78%;
    padding-left:8%;
    padding-right:8%;
    padding-bottom:3%;
    padding-top:1%;
    border-radius:5px;
    font-family: 'Montserrat', sans-serif;
    h1{ font-size:2.3em;
        text-align: center;
        padding-bottom:1%;
    }
    p{  font-size:1.2em;
        padding-bottom:3%;
        a{text-decoration:none; color:blue;margin-bottom:3%;font-size:1.2em;}
    }
    a{text-decoration:none; color:blue;padding-bottom:3%;font-size:1.2em;}
}

#skillsPage{
    font-family: 'Montserrat', sans-serif;
    margin-left:auto; margin-right:auto;
    width:80%;
    margin-top:5%;
    padding-top:1%;
    h1{text-align:center;font-size:2.3em;
       color:rgb(0, 0, 0);}
    .skillsContainer{display:flex;
        @media (max-width:750px){flex-direction:column;}
    }
    .chemESkills,.softwareSkills{
        h3{color:rgb(167, 154, 154)}
        width:50%;
        @media (max-width:750px){width:100%;}
        font-size:1.2em;
        color:rgb(99, 0, 99);
        li{padding-top:2%;}
    }
}

#workExperiencePage{
    margin-top:5%;
    padding-top:1%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(233, 229, 229);
    width:78%;
    padding-left:8%;
    padding-right:8%;
    border-radius:5px;
    font-family: 'Montserrat', sans-serif;
    h1{ font-size:2.3em;
        color:black;
        padding-top:3%;
        padding-bottom:3%;
        text-align: center;
    }
    h3{ font-size:1.5em;
        color:rgb(185, 0, 185); padding-bottom:0%;margin-bottom:1%;}
    h5{ font-size:1em;
        color:rgb(134, 130, 130);
        margin-top:0; margin-bottom:1%;}
    p{  font-size:1.2em; margin-top:0; margin-bottom:0;
        a{text-decoration:none; color:blue; margin-top:0;}
    }
    ul{margin-top:0;padding-bottom:4%;}
    li{font-size:1.2em;margin-top:1%; margin-bottom:0;}

}

#softwareProjectsPage{
    .travelBookerPic{
        width:100%;
        height:60%;
    }    
    .travelBookerVideo{
        width: 100%;
        height: 60%;
        justify-content: center;
        padding-top:5%;
    }
    margin-top:5%;
    padding-top:1%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    width:78%;
    padding-left:8%;
    padding-right:8%;
    border-radius:5px;
    font-family: 'Montserrat', sans-serif;
    li{
        padding:.5em;
    }
    h1{ font-size:2.3em;
        color:black;
        padding-top:3%;
        padding-bottom:3%;
        text-align: center;
    }
    h3{ font-size:1.5em;
        color:rgb(185, 0, 185); padding-bottom:0%;margin-bottom:1%;}
    h4{ a{text-decoration:none; color:blue;}
        margin-top:1%; margin-bottom:5px;
        @media (max-width:500px){font-size:.7em;}}
    h5{ font-size:1.2em;
        color:rgb(0, 0, 0);
        margin-top:3%; margin-bottom:0%;}
    p{  font-size:1.08em; margin-top:0; margin-bottom:3%;}
    a{font-size:1.2em;text-decoration:none;color:blue;}
    .padDetails{margin-bottom:3%;}

    #iOS,#webApps{
        margin-top:20%;

    }
    
    .moreDetails,.iOSDetails{
        a{font-size:1.2em;}
        display:none;
       
    }

}

#webApps{
    p{padding-top:2%;}
    h5{margin-bottom:0;}
    .pMargin{padding-top:1%;margin-top:0%}
    .row0,.row1{
        @media (max-width:750px){flex-direction:column;}
        display:flex;}
    .column{
        @media (max-width:750px){width:100%;}
        width:33%;
        padding:1%;
    }
    .projDescSmall{
        font-size:1em;
    }

    .galleryPic{
        width:95%;
        height:220px;
    }
    tag{font-size:.8em}
}

#engineeringProjects{
    margin-top:5%;
    padding-top:1%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(233, 229, 229);
    width:78%;
    padding-left:8%;
    padding-right:8%;
    border-radius:5px;
    font-family: 'Montserrat', sans-serif;
    h1{ font-size:2.3em;
        color:black;
        padding-top:3%;
        padding-bottom:3%;
        text-align: center;
    }
    h3{ font-size:1.5em;
        color:rgb(185, 0, 185); padding-bottom:0%;margin-bottom:1%;}
    h4{ a{text-decoration:none; color:blue;}
        margin-top:1%;}
    h5{ font-size:1.2em;
        color:rgb(0, 0, 0);
        margin-top:3%; margin-bottom:0%;}
    p{font-size:1.08em; margin-top:0; margin-bottom:3%;}
    a{font-size:1.2em;text-decoration:none;color:blue;}
    .padDetails{margin-bottom:3%;}
    .algaeDetails,.solarDetails{
        a{font-size:1.2em;text-decoration:none;color:blue;}
        display:none;
    }
    #solarCells{margin-top:20%;}
    .reactorPic{
        padding:.5em;
        height:400px;
        width:250px;
        margin-left:auto; 
        margin-right:auto;
    }
    li{
        padding:.5em;
    }
}
#space{
    height:100px;
    width:100%;
    background-color:white;
}

