html, body {
  margin: 0;
  padding: 0;
}

.burgerMenu {
  position: fixed;
  width: 100%;
  height: 12vh;
  left: 0;
  right: 0;
}

@media (max-width: 400px) {
  .burgerMenu {
    background-color: #1d1c1c;
    opacity: .8;
    height: 7vh;
  }
}

.burgerMenu .fas {
  float: right;
  color: black;
  padding-top: 1%;
  padding-right: 3%;
  font-size: 8vh;
}

@media (max-width: 400px) {
  .burgerMenu .fas {
    font-size: 5vh;
    color: white;
    padding-top: 1.7%;
  }
}

.burgerMenu .fas:hover {
  cursor: pointer;
}

.sideNav {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  opacity: 0.8;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #1d1c1c;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 750px) {
  .sideNav {
    width: 0px;
    height: 100vh;
    opacity: .99;
    background-color: black;
    -webkit-transition: none;
    transition: none;
  }
}

.sideNav .closeBtn {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2.3em;
  color: white;
}

@media (max-width: 750px) {
  .sideNav .closeBtn {
    font-size: 4em;
    top: 4%;
    right: 9%;
  }
}

.sideNav .closeBtn:hover {
  color: #ff71ff;
}

.sideNav ul {
  position: absolute;
  padding-top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -17px;
  list-style: none;
}

@media (max-width: 750px) {
  .sideNav ul {
    padding-left: 30%;
    padding-top: 0;
    font-size: 2em;
  }
}

@media (max-width: 550px) {
  .sideNav ul {
    font-size: 1.5em;
    padding-top: 10%;
    padding-left: 20%;
  }
}

.sideNav ul .indented {
  padding-left: 24px;
}

.sideNav li {
  white-space: nowrap;
}

.sideNav li a {
  text-decoration: none;
  color: #f8f8f8;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  padding-top: 15%;
  display: block;
}

@media (max-width: 750px) {
  .sideNav li a {
    padding-top: 5%;
  }
}

.sideNav li a:hover {
  color: #ff71ff;
}

img {
  width: 33vh;
  display: block;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2%;
}

@media (max-width: 400px) {
  img {
    margin-top: 10%;
  }
}

hr {
  width: 70%;
}

.name {
  vertical-align: bottom;
  display: block;
  text-align: center;
  font-size: 4em;
  font-family: 'Merriweather Sans', sans-serif;
  color: #770d77;
}

@media (max-width: 400px) {
  .name {
    font-size: 3em;
  }
}

.name .capital {
  font-size: 1.2em;
}

.socialLink {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 700px) {
  .socialLink {
    width: 85%;
  }
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.email a {
  color: #800680;
}

.email a:hover {
  color: black;
}

.email .far, .email .fab {
  text-align: center;
  font-size: 5vw;
}

@media (max-width: 700px) {
  .email .far, .email .fab {
    font-size: 3em;
  }
}

.school {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 1%;
  padding-bottom: 3%;
  font-size: 1.5em;
}

@media (max-width: 400px) {
  .school {
    font-size: 1.3em;
  }
  .school .firstLetter {
    font-size: 1.3em;
  }
}

.school .firstLetter {
  font-size: 1.3em;
  color: #800680;
}

#allContent {
  margin-left: 250px;
  -webkit-transition: 1s;
  transition: 1s;
  overflow-x: hidden;
}

@media (max-width: 750px) {
  #allContent {
    margin-left: 0px;
  }
}

#pageAbout {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e5e5;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 3%;
  padding-top: 1%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#pageAbout #inDepth {
  display: none;
}

#pageAbout h1 {
  font-size: 2.3em;
  text-align: center;
  padding-bottom: 1%;
}

#pageAbout p {
  font-size: 1.2em;
  padding-bottom: 3%;
}

#pageAbout p a {
  text-decoration: none;
  color: blue;
  margin-bottom: 3%;
  font-size: 1.2em;
}

#pageAbout a {
  text-decoration: none;
  color: blue;
  padding-bottom: 3%;
  font-size: 1.2em;
}

#skillsPage {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 5%;
  padding-top: 1%;
}

#skillsPage h1 {
  text-align: center;
  font-size: 2.3em;
  color: black;
}

#skillsPage .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 750px) {
  #skillsPage .skillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#skillsPage .chemESkills, #skillsPage .softwareSkills {
  width: 50%;
  font-size: 1.2em;
  color: #630063;
}

#skillsPage .chemESkills h3, #skillsPage .softwareSkills h3 {
  color: #a79a9a;
}

@media (max-width: 750px) {
  #skillsPage .chemESkills, #skillsPage .softwareSkills {
    width: 100%;
  }
}

#skillsPage .chemESkills li, #skillsPage .softwareSkills li {
  padding-top: 2%;
}

#workExperiencePage {
  margin-top: 5%;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e5e5;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#workExperiencePage h1 {
  font-size: 2.3em;
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#workExperiencePage h3 {
  font-size: 1.5em;
  color: #b900b9;
  padding-bottom: 0%;
  margin-bottom: 1%;
}

#workExperiencePage h5 {
  font-size: 1em;
  color: #868282;
  margin-top: 0;
  margin-bottom: 1%;
}

#workExperiencePage p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

#workExperiencePage p a {
  text-decoration: none;
  color: blue;
  margin-top: 0;
}

#workExperiencePage ul {
  margin-top: 0;
  padding-bottom: 4%;
}

#workExperiencePage li {
  font-size: 1.2em;
  margin-top: 1%;
  margin-bottom: 0;
}

#softwareProjectsPage {
  margin-top: 5%;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#softwareProjectsPage h1 {
  font-size: 2.3em;
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#softwareProjectsPage h3 {
  font-size: 1.5em;
  color: #b900b9;
  padding-bottom: 0%;
  margin-bottom: 1%;
}

#softwareProjectsPage h4 {
  margin-top: 1%;
}

#softwareProjectsPage h4 a {
  text-decoration: none;
  color: blue;
}

@media (max-width: 500px) {
  #softwareProjectsPage h4 {
    font-size: .7em;
  }
}

#softwareProjectsPage h5 {
  font-size: 1.4em;
  color: black;
  margin-top: 3%;
  margin-bottom: 0%;
}

#softwareProjectsPage p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

#softwareProjectsPage a {
  font-size: 1.2em;
  text-decoration: none;
  color: blue;
}

#softwareProjectsPage .padDetails {
  margin-bottom: 3%;
}

#softwareProjectsPage #iOS, #softwareProjectsPage #webApps {
  margin-top: 20%;
}

#softwareProjectsPage .moreDetails, #softwareProjectsPage .iOSDetails {
  display: none;
  background-color: grey;
}

#softwareProjectsPage .moreDetails a, #softwareProjectsPage .iOSDetails a {
  font-size: 1.2em;
}

#webApps p {
  padding-top: 2%;
}

#webApps h5 {
  margin-bottom: 0;
}

#webApps .pMargin {
  padding-top: 1%;
  margin-top: 0%;
}

#webApps .row0, #webApps .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 750px) {
  #webApps .row0, #webApps .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#webApps .column {
  width: 33%;
  padding: 1%;
}

@media (max-width: 750px) {
  #webApps .column {
    width: 100%;
  }
}

#webApps .projDescSmall {
  font-size: 1em;
}

#webApps .galleryPic {
  width: 95%;
  height: 220px;
}

#engineeringProjects {
  margin-top: 5%;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e5e5;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#engineeringProjects h1 {
  font-size: 2.3em;
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#engineeringProjects h3 {
  font-size: 1.5em;
  color: #b900b9;
  padding-bottom: 0%;
  margin-bottom: 1%;
}

#engineeringProjects h4 {
  margin-top: 1%;
}

#engineeringProjects h4 a {
  text-decoration: none;
  color: blue;
}

#engineeringProjects h5 {
  font-size: 1.4em;
  color: black;
  margin-top: 3%;
  margin-bottom: 0%;
}

#engineeringProjects p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

#engineeringProjects a {
  font-size: 1.2em;
  text-decoration: none;
  color: blue;
}

#engineeringProjects .padDetails {
  margin-bottom: 3%;
}

#engineeringProjects .algaeDetails, #engineeringProjects .solarDetails {
  display: none;
  background-color: grey;
}

#engineeringProjects .algaeDetails a, #engineeringProjects .solarDetails a {
  font-size: 1.2em;
  text-decoration: none;
  color: blue;
}

#engineeringProjects #solarCells {
  margin-top: 20%;
}

#space {
  height: 1000px;
  width: 100%;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */