html, body {
  margin: 0;
  padding: 0;
}

.burgerMenu {
  position: fixed;
  width: 100%;
  height: 12vh;
  left: 0;
  right: 0;
}

.burgerMenu .fas {
  float: right;
  color: black;
  padding-top: 1%;
  padding-right: 3%;
  font-size: 8vh;
}

.burgerMenu .fas:hover {
  cursor: pointer;
}

.sideNav {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  opacity: 0.8;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #1d1c1c;
  -webkit-transition: 1s;
  transition: 1s;
}

.sideNav .closeBtn {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2.3em;
  color: white;
}

.sideNav .closeBtn:hover {
  color: #e0c8e0;
}

.sideNav ul {
  position: absolute;
  padding-top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -17px;
  list-style: none;
}

.sideNav ul .indented {
  padding-left: 24px;
}

.sideNav li a {
  text-decoration: none;
  color: #dab9da;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.1em;
  padding-top: 15%;
  display: block;
}

.sideNav li a:hover {
  color: white;
}

img {
  width: 33vh;
  display: block;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2%;
}

hr {
  width: 70%;
}

.name {
  vertical-align: bottom;
  display: block;
  text-align: center;
  font-size: 4vw;
  font-family: 'Merriweather Sans', sans-serif;
  color: #770d77;
}

.name .capital {
  font-size: 1.2em;
}

.socialLink {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3%;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.email {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.email a {
  color: #800680;
}

.email a:hover {
  color: black;
}

.email .far, .email .fab {
  text-align: center;
  font-size: 5vw;
}

.school {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 1%;
  padding-bottom: 3%;
  font-size: 1.5vw;
}

.school .firstLetter {
  font-size: 1.3em;
  color: #800680;
}

#allContent {
  margin-left: 250px;
  -webkit-transition: 1s;
  transition: 1s;
  overflow-x: hidden;
}

#pageAbout {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e5e5;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#pageAbout .inDepth {
  display: none;
}

#pageAbout h1 {
  padding-top: 3%;
  text-align: center;
}

#pageAbout p {
  padding-bottom: 3%;
}

#pageAbout p a {
  text-decoration: none;
  color: blue;
}

#skillsPage {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 2%;
}

#skillsPage h1 {
  text-align: center;
  color: black;
}

#skillsPage .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skillsPage .chemESkills, #skillsPage .softwareSkills {
  width: 50%;
  font-size: 1.1em;
  color: #630063;
}

#skillsPage .chemESkills h3, #skillsPage .softwareSkills h3 {
  color: #a79a9a;
}

#skillsPage .chemESkills li, #skillsPage .softwareSkills li {
  padding-top: 2%;
}

#workExperiencePage {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e5e5;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#workExperiencePage h1 {
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#workExperiencePage h3 {
  font-weight: 700px;
  color: #b900b9;
  padding-bottom: 0%;
  margin-bottom: 1%;
}

#workExperiencePage h5 {
  font-size: .8em;
  color: #868282;
  margin-top: 0;
  margin-bottom: 1%;
}

#workExperiencePage p {
  margin-top: 0;
  margin-bottom: 0;
}

#workExperiencePage p a {
  text-decoration: none;
  color: blue;
  margin-top: 0;
}

#workExperiencePage ul {
  margin-top: 0;
  padding-bottom: 4%;
}

#workExperiencePage li {
  margin-top: 1%;
  margin-bottom: 0;
}

#softwareProjectsPage {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#softwareProjectsPage h1 {
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#softwareProjectsPage h3 {
  font-size: 1.3em;
  font-weight: 700px;
  color: #b900b9;
  padding-bottom: 0%;
  margin-bottom: 1%;
}

#softwareProjectsPage h4 {
  margin-top: 1%;
}

#softwareProjectsPage h4 a {
  text-decoration: none;
  color: blue;
}

#softwareProjectsPage h5 {
  font-size: 1em;
  color: black;
  margin-top: 3%;
}

#softwareProjectsPage p {
  margin-top: -3%;
}

#softwareProjectsPage .padDetails {
  margin-bottom: 3%;
}

#softwareProjectsPage ul {
  margin-top: 0;
  padding-bottom: 4%;
}

#softwareProjectsPage li {
  margin-top: 1%;
  margin-bottom: 0;
}

#softwareProjectsPage #iOS, #softwareProjectsPage #webApps {
  margin-top: 10%;
}

#softwareProjectsPage .moreDetails, #softwareProjectsPage .iOSDetails {
  display: none;
  background-color: grey;
}

#webApps p {
  padding-top: 2%;
}

#webApps .row0, #webApps .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#webApps .column {
  width: 33%;
  padding: 1%;
}

#engineeringProjects {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e5e5;
  width: 70%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

#engineeringProjects h1 {
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#engineeringProjects h3 {
  font-size: 1.3em;
  font-weight: 700px;
  color: #b900b9;
  padding-bottom: 0%;
  margin-bottom: 1%;
}

#engineeringProjects h4 {
  margin-top: 1%;
}

#engineeringProjects h4 a {
  text-decoration: none;
  color: blue;
}

#engineeringProjects h5 {
  font-size: 1em;
  color: black;
  margin-top: 3%;
}

#engineeringProjects p {
  margin-top: -3%;
}

#space {
  height: 1000px;
  width: 100%;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */